@using VenturaHR.Web.Models
@model VenturaHR.Web.Models.OpportunityViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<!-- JS includes -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".addRow").click(function () {

            var rowCount = $('.criterionRow').length;
            if (rowCount == 0) {
                $("#criterionList").append('<span>Criterion Name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCriterion Description&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCriterion PWD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCriterion Weight</span>');
            }
            $("#criterionList").append('<div class="criterionRow">' +

                '<input type = "text" name = "Criteria[' + rowCount + '].Name" class= "criterionName" /> ' +
                '<input type = "text" name = "Criteria[' + rowCount + '].Description" class= "criterionDescription" /> ' +
                '<input type = "text" name = "Criteria[' + rowCount + '].PWD" class= "criterionPWD" /> ' +
                '<input type = "text" name = "Criteria[' + rowCount + '].Weight" class= "criterionWeight" /> ' +

            '<a href="javascript:void(0);" class="remRow">Remove</a></div >');
        });

        $("#criterionList").on('click', '.remRow', function () {

            $(this).closest('.criterionRow').remove();

            $('.criterionName').each(function (index) {
                $(this).attr('name', 'Criteria[' + index + '].Name');
            });

            $('.criterionDescription').each(function (index) {
                $(this).attr('name', 'Criteria[' + index + '].Description');
            });
            $('.criterionPWD').each(function (index) {
                $(this).attr('name', 'Criteria[' + index + '].PWD');
            });
            $('.criterionWeight').each(function (index) {
                $(this).attr('name', 'Criteria[' + index + '].Weight');
            });
        })
    });
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Opportunity</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="criterionList">
        @if (Model.Criteria.Count > 0)
        {
            <span>Criterion Name Description PWD Weight</span>
        }
        @for (int i = 0; i < Model.Criteria.Count; i++)
        {
            <div class="criterionRow">


                @Html.TextBoxFor(model => Model.Criteria[i].Name, new { @class = "criteriaName" })
                @Html.ValidationMessageFor(model => Model.Criteria[i].Name)

                @Html.TextBoxFor(model => Model.Criteria[i].Description, new { @class = "criteriaDescription" })
                @Html.ValidationMessageFor(model => Model.Criteria[i].Description)

                @Html.TextBoxFor(model => Model.Criteria[i].PWD, new { @class = "criteriaPWD" })
                @Html.ValidationMessageFor(model => Model.Criteria[i].PWD)

                @Html.TextBoxFor(model => Model.Criteria[i].Weight, new { @class = "criteriaWeight" })
                @Html.ValidationMessageFor(model => Model.Criteria[i].Weight)

                <a href="javascript:void(0);" class="remRow">Remove</a>
            </div>
        }
    </div>

    <p>
        <a href="javascript:void(0);" class="addRow">Add row</a>
    </p>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
